body { font: 12px Arial; padding: 0 4%; }

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  stroke: #fff;
}

.wrapper-box {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 0px 1px 1px #ddd
}
